.article-content {
  margin-left: 40px;
  padding: 24px 15px;
  background: #FFF;
  .title {
    font-size: 20px;
    color: #0d1a26;
  }
  .divider {
    margin-top: 10px;
  }
  .content {
    background: #FFF;
    padding-top: 0px;
  }
}
