.categories-area {
  margin-top: 24px;
  padding-left: 12px;
  .categories-list {
    padding: 0px;
    li {
      list-style-type: none;
      padding: 5px 0px;
      cursor: pointer;
      transition: color 2s;
      transition: background-color 3s;
      line-height: 24px;
    }
    li:hover {
      color: #1890ff;
    }
    li.active {
      color: #1890ff;
      background-color: #e6f7ff;
    }
  }
}
