html, body {
  height: 100%;
  #root {
    height: 100%;
    #router {
      height: 100%;
      .ant-layout {
        min-height: 100%;
      }
    }
    
  }
  background-color: #fafafa;
  a {
    color: #1890ff;
    text-decoration: none;
  }
  a:active,
  a:hover {
    color: #262626;
  }
  .header {
    border-bottom: 1px solid #e8e8e8;
    padding: 0px;
    a {
      color: #595959;
      text-decoration: none;
    }
    a:active {
      color: #262626;
    }
    .header-nav.header-nav-right {
      float: right;
      .header-nav-list{
        list-style: none;
        padding: 0px;
        .header-nav-item{
          display: inline-block;
          padding-left: 40px;
        }
      }
    }
  }

  .content {
    min-height: 100%;
    padding-top: 20px;
    background-color: #fafafa;

    .article-nav {
      .ant-card-head {
        height: 47px;
        .ant-tabs-nav.ant-tabs-nav-animated {
          height: 49px;
        }
      }
    }

    a.article-nav-link-list {
      display: block;
    }
    a.article-nav-link-list.active {
      color: #1890ff;
    }
  }

  .footer {
    min-width: 20px;
    background-color: #ede9e98e;
  }

  .alert-it {
    position: fixed;
    top: 60px;
    right: 50px;
    z-index: 3;
    a.ant-alert-close-icon {
      top: -2px;
      right: 2px;
    }
  }
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f0f0f0;
    border-radius: 3px;
    code {
      padding: 0px;
    }
  }

  code {
    background-color: #f0f0f0;
    padding: 2px 3px;
    border-radius: 2px;
  }

  .content {
    p {
      img {
        max-width: 500px;
        max-height: 300px;
      }
    }
  }
}
