html, body {
  background-color: #fafafa;
  a {
    color: #595959;
    text-decoration: none;
  }
  a:active {
    color: #262626;
  }
  .header {
    border-bottom: 1px solid #e8e8e8;
    padding: 0px;
  }

  .post .content {
    padding-top: 0px;
    background-color: #fafafa;
  }

  .write-post-area {
    caret-color: #3f87a6;
    .title-area {
      height: 60px;
      width: 100%;
      font-size: 18px;
      .title input {
        padding-top: 30px;
        width: 100%;
        min-height: 100%;
        padding-left: 20px;
        border: none;
        outline: none;
        background-color: #fafafa;
      }
      .operator-area{
        height: 60px;
        position: relative;
        span {
          display: inline-block;
          position: absolute;
          bottom: 2px;
          .anticon-save:hover {
            cursor: pointer;
          }
        }
      }

    }
    .post-content {
      min-width: 100%;
      width: 100%;
      position: absolute;
      top: 123px;
      bottom: 0px;
      border-top: 1px solid #e8e8e8;
      .post-editor {
        height: 100%;
        border-right: 1px solid #e8e8e8;
        padding: 0px;
      }
      .post-editor textarea{
        width: 100%;
        height: 100%;
        border: none;
        outline-style: none;
        resize: none;
        padding: 10px 0px 0px 10px;
      }
      .post-preview {
        height: 100%;
        padding: 10px 5px 0px 10px;
      }

      .post-preview div {
        height: 100%;
        overflow: scroll;
      }
    }
  }
}
