.content {
  min-height: 200px;
  .post-show-area {
    padding-left: 5px;
    padding-right: 5px;
    background: #FFF;
    margin-right: 20px;
    .title {
      height: 55px;
      line-height: 55px;
      font-size: 32px;
      a.post-edit {
        color: #1890ff;
        font-size: 20px;
        margin-left: 20px;
        cursor: pointer;
      }
     .post-delete {
       margin-left: 20px;
       font-size: 20px;
     }
    }
    .content {
      background: #FFF;
    }
  }

}
